{% extends "restaurant/base.html" %}
{% load staticfiles %}
{% block main_content %}
    <!-- The header for content -->
    <header class="detail">
        <a href="{% url "index" %}" class="back" data-transition="slide-from-top">
            <h1>back</h1>
        </a>
        <section>
            <h3 class="badge">stories</h3>
            <h1>Stories &amp; Taste</h1>
        </section>
    </header>
    <!-- end header -->
    <div class="content-wrap">
        <div class="content">
            <i class="icon bg icon-CommentwithLines"></i>
            <section>
                <header>
                    <h3>The Sweet Life</h3>
                </header>
                <figure>
                    <a href="https://vineyardgazette.com/news/2017/08/09/hal-ryerson-its-sweet-life" target="_blank">
                        <img src="{% static "img/stories/story6.jpg" %}" alt="SweetLife Interview">
                        <figcaption>
                            <p class="serif">Interview</p>
                            <i class="icon icon-Plus"></i>
                        </figcaption>
                    </a>
                </figure>
                {% for story in stories %}
                    <header>
                        <h3>{{ story.name }}</h3>
                        <h4 class="serif">• {{ story.date }} •</h4>
                    </header>
                    <p>{{ story.description }}</p>
                    <figure>
                        <a href="{{ story.picture.url }}" class="gallery-item">
                            <img src="{{ story.picture.url }}" alt="almond financier">

                            <figcaption>
                                <p class="serif">{{ story.caption }}</p>
                                <i class="icon icon-Plus"></i>
                            </figcaption>
                        </a>
                    </figure>
                {% endfor %}
            </section>
        </div>
    </div>
    <!-- Block footer with signature and share links -->
    <footer class="overlay-dark">
        <div class="content">
            <div class="signature">
                <h6>Written by.</h6>
                <h5>Erin Ryerson</h5>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <div data-remodal-id="modal">
        <i class="icon bg icon-CommentwithLines"></i>
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1></h1>
        <p>
        <div class="signature center">
            <h6>-CHEF-</h6>
            <h5>Hal Ryerson</h5>
        </div>
    </div>

{% endblock %}