{% extends "restaurant/base.html" %}
{% block main_content %}
    <!-- The header for content -->
    <header class="detail">
        <a href="{% url "index" %}" class="back" data-transition="slide-from-top">
            <h1>back</h1>
        </a>
        <section>
            <h3 class="badge">Reservations</h3>
            <h1>Table for 2?</h1>
        </section>
    </header>
    <!-- end header -->
    <div class="content-wrap">
        <section class="content">
            <i class="icon bg icon-Users"></i>
            <section class="form-inline">
                <header>
                    <h2>Book a table</h2>
                    <h4 class="serif">Leave your info and we'll get back to you</h4>
                </header>

                <form class="form ambiance-html-form" action="http://sweetlifemv.com/php/reservations.php" method="post"
                      id="reservation-form">
                    <div class="row">
                        <div class="form-group">
                            <input name="name" id="name" type="text" placeholder="name">
                            <i class="icon icon-User"></i>
                        </div>
                        <div class="form-group">
                            <input class="full-border" name="email" id="email" type="email" placeholder="email">
                            <i class="icon icon-Email"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input name="phone" id="phone" type="text" placeholder="phone"
                                   onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) ||
                                    (event.charCode == 40 || event.charCode == 41 ||event.charCode == 43 || event.charCode == 45 || event.charCode == 32))">
                            <i class="icon icon-Phone"></i>
                        </div>
                        <div class="form-group">
                            <input name="seats" id="seats" type="text" placeholder="seats"
                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            <i class="icon icon-Users"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input name="date" id="date" type="date" placeholder="date">
                            <i class="icon icon-Calendar"></i>
                        </div>
                        <div class="form-group">
                            <input name="time" id="time" type="time" placeholder="time" min="17:30" max="22:00"
                                   step="1800">
                            <i class="icon icon-Clock"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="4" name="requests" id="requests" placeholder="message"></textarea>
                        <i class="icon icon-Typing"></i>
                    </div>
                    <span class="message"><strong>Status.</strong> idle</span>
                    <div class="submit">
                        <button type="submit" value="submit">
                            <i class="icon icon-Forward"></i>
                        </button>
                    </div>
                </form>
            </section>
        </section>
    </div>
    <div data-remodal-id="modal">
        <i class="icon bg icon-CommentwithLines"></i>
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Thank you!</h1>
        <p>Your reservation has been confirmed. We are looking forwards to see you!</p>
        <div class="signature center">
            <h6>-CHEF-</h6>
            <h5>Hal Ryerson</h5>
        </div>
    </div>
{% endblock %}