{% extends "restaurant/base.html" %}
{% block main_content %}
    <!-- The header for content -->
    <header class="detail">
        <a href="{% url "index" %}" class="back" data-transition="slide-from-top">
            <h1>back</h1>
        </a>
        <section>
            <h3 class="badge">Contact</h3>
            <h1>Leave us a message</h1>
        </section>
    </header>
    <!-- end header -->
    <div class="content-wrap">
        <section class="content">
            <i class="icon bg icon-LocationMarker"></i>
            <section class="info">
                <ul class="icon-list">
                    <li>
                        <a href="#">
                            <i class="icon icon-LocationMarker"></i>
                            <span>{{ contacts.address }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{ contacts.number }}">
                            <i class="icon icon-Phone"></i>
                            <span>{{ contacts.number }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ contacts.email }}">
                            <i class="icon icon-Email"></i>
                            <span>{{ contacts.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="//fb.com/The-Sweet-Life-Cafe-246711998888/" target="_blank">
                            <i class="icon icon-social facebook"></i>
                            <span>{{ contacts.facebook }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="//instagram.com/sweet_life_cafe_mv/" target="_blank">
                            <i class="icon icon-social instagram"></i>
                            <span>{{ contacts.instagram }}</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="hours">
                <header>
                    <h2>Opening hours</h2>
                </header>
                <p>Serving food every day starting 5:30 until 10:00</p>
            </section>
            <section class="form-inline">
                <header>
                    <h2>Message</h2>
                    <h4 class="serif">We'd like to hear from you!</h4>
                </header>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">✖</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
                <form action="." method="post" id="test">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" class="submitBtn" value="send e-mail">
                </form>
            </section>
        </section>
    </div>
    <div data-remodal-id="modal">
        <i class="icon bg icon-CommentwithLines"></i>
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Thank you!</h1>
        <p>We will get back to you as soon as possible!</p>
        <div class="signature center">
            <h6>-CHEF-</h6>
            <h5>Hal Ryerson</h5>
        </div>
    </div>
{% endblock %}